<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}" />
         <script th:src="@{/js/rutinas.js}"></script>
        <script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}"></script> 
    </head>
    <body>
        <header th:fragment="header" class="p-3 bg-dark text-white">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
                    </a>
                    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                        <li><a href="#" class="nav-link px-2 text-secondary">[[#{accion.inicio}]]</a></li>
                        <li><a href="#" class="nav-link px-2 text-white">[[#{arbol.listado}]]</a></li>
                        <li><a href="#" class="nav-link px-2 text-white">[[#{accion.agregar}]]</a></li>
                        <li><a href="#" class="nav-link px-2 text-white">[[#{accion.eliminar}]]</a></li>
                    </ul>
                    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                        <input type="search" class="form-control form-control-dark" aria-label="Buscar">
                    </form>
                    <div class="text-end">
                        <button type="button" class="btn btn-outline-light me-2">[[#{plantilla.usuarios}]]</button>
                        <button type="button" class="btn btn-warning">[[#{accion.registrar}]]</button>
                    </div>
                    <ul class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">[[#{plantilla.idioma}]]</a>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item"  th:href="@{/(lang=es)}">ES</a></li>
                                <li><a class="dropdown-item" th:href="@{/(lang=en)}">EN</a></li>
                            </ul>
                        </li>
                    </ul>                    
                </div>
            </div>
        </header>
        <footer th:fragment="footer" class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">[[#{accion.inicio}]]</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">[[#{arbol.listado}]]</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">[[#{accion.agregar}]]</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">[[#{accion.eliminar}]]</a></li>
            </ul>
            <p class="text-center text-body-secondary">&COPY;[[#{arbol.derechos}]]</p>
        </footer>
    </body>
</html>
